{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static './css/receipts' %}">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <header>
            <nav>
                {% if user.is_authenticated %}
                    Hello, {{ user.username }}
                    <a href="{% url 'home' %}">Main page</a>
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'signup' %}">Sign up</a>
                {% endif %}
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>
            Made with love by JP
        </footer>
    </body>
</html>
